@charset "UTF-8";
/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
html,
body {
  font-family: "SF Pro Display", sans-serif;
  color: #2f3035;
  line-height: 1.2;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 45px;
  margin: 0 auto;
  height: 100%;
}

.container__title {
  font-family: 'Barlow';
  font-weight: 700;
  font-size: 25px;
}

.burger {
  display: none;
}

.burger-nav {
  display: none;
}

.main__sliderBanner {
  margin-top: 78px;
}

/*---------------HEADER-----------------------------*/
/*---------------HEADER-----------------------------*/
.header {
  margin-top: 25px;
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100%;
}

.header__nav-link {
  display: inline-block;
  white-space: nowrap;
  position: relative;
}

.header__nav-link-top {
  font-weight: 700;
  font-size: 20px;
  margin-right: 50px;
}

.header__nav-link:hover {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.header__nav-link:after {
  content: '';
  left: 0;
  bottom: -18px;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: transparent;
  transition: all 0.3s;
}

.header__nav-link:hover::after {
  content: '';
  left: 0;
  bottom: -18px;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #1C62CD;
}

.header__nav-link:last-child {
  margin-right: 0;
}

.haeder__logo {
  margin-right: 15px;
  transition: all 0.3s;
  background: url("../images/logo.svg");
  width: 80px;
  height: 76px;
}

.haeder__logo:hover {
  scale: 1.1;
}

.header__nav-link--location {
  position: relative;
  margin-right: 15px;
}

.header__nav-link--location::before {
  position: absolute;
  content: '';
  top: -13px;
  left: -27px;
  width: 30px;
  height: 30px;
  background: url("../images/lokationHeader.svg") no-repeat;
}

.header__nav-link-user {
  margin-right: 10px;
  transition: all 0.3s;
}

.header__nav-link-user--bascet {
  position: relative;
}
.header__nav-link-user--bascet span {
  position: absolute;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  text-align: center;
  top: 11px;
  right: -14px;
  width: 20px;
  height: 20px;
  background-color: #1C62CD;
  border-radius: 50%;
  padding-top: .5em;
}

.header__nav-link-user:last-child {
  margin-right: 14px;
}

.header__nav-link-user:hover {
  scale: 1.1;
}

.header__bottom {
  margin-top: 20px;
}
.header__bottom .header__nav-bottom {
  width: 100%;
  padding: 15px 0px;
  background-color: #F0F0F4;
}
.header__bottom .header__nav-link-bottom {
  font-weight: 400;
  margin-right: 10px;
}
.header__bottom .header__nav-link-bottom:last-child {
  margin-right: 0;
}

.header__bottom-inner {
  min-height: 53px;
  display: flex;
  align-items: center;
  background: #F0F0F4;
}

/*---------------sliderBanner-----------------------------*/
/*---------------sliderBanner-----------------------------*/
.sliderBanner__inner {
  display: flex;
  justify-content: space-between;
}
.sliderBanner__wrapper {
  min-width: 0;
  position: relative;
  margin-right: 36px;
}
.sliderBanner .slick-container {
  height: 60%;
}
.sliderBanner .slick-slider,
.sliderBanner .slick-list,
.sliderBanner .slick-track {
  height: 100%;
}
.sliderBanner__slide img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.sliderBanner__arrow {
  position: absolute;
  top: 50%;
  transition: all 0.3s;
  transform: translateY(-50%);
}
.sliderBanner__arrow:hover {
  scale: 1.1;
}
.sliderBanner__prev {
  left: 20px;
}
.sliderBanner__next {
  right: 20px;
}
.sliderBanner__dots {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}
.sliderBanner__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderBanner__dots li {
  margin-right: 9px;
}
.sliderBanner__dots li:last-child {
  margin-right: 0;
}
.sliderBanner__dots button {
  font-size: 0;
  background-color: transparent;
  width: 11px;
  height: 11px;
  display: flex;
  align-items: center;
}
.sliderBanner__dots button::before {
  content: "";
  height: 11px;
  width: 11px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
}
.sliderBanner__dots .slick-active button::before {
  background-color: #fff;
  transition: all .3s;
}

.cardPromtion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #CDCDCD;
  border-radius: 4px;
  position: relative;
}
.cardPromtion__top {
  display: flex;
  justify-content: space-between;
}
.cardPromtion__actionBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  background-color: #1C62CD;
  margin-right: 10px;
}
.cardPromtion__actionBanner p {
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.cardPromtion__newPrice {
  font-weight: 700;
  font-size: 27px;
  color: #1C62CD;
  padding-right: 27px;
  position: relative;
  white-space: nowrap;
}
.cardPromtion__newPrice::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  width: 16px;
  height: 18px;
  background: url("../images/icon/iconRublBlue.svg") no-repeat;
}
.cardPromtion__oldPrice {
  margin-top: 7px;
  font-weight: 400;
  font-size: 14px;
  color: #C4C4C4;
  align-self: flex-end;
  padding: 0px 20px 0px 10px;
  position: relative;
  white-space: nowrap;
}
.cardPromtion__oldPrice::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  width: 8px;
  height: 10px;
  background: url("../images/icon/iconRublGrey.svg") no-repeat;
}
.cardPromtion__oldPrice::before {
  position: absolute;
  content: "";
  top: -8%;
  right: -60px;
  width: 137px;
  height: 20px;
  background: url(../images/line.svg) no-repeat;
}
.cardPromtion__imgBox {
  padding: 0px 80px 0px 60px;
}
.cardPromtion__imgBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cardPromtion__discription {
  display: inline-block;
  align-self: center;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  max-width: 200px;
}
.cardPromtion__period {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  background-color: #F0F0F4;
  align-items: center;
  justify-content: center;
}
.cardPromtion__validUntil {
  padding-top: 25px;
  font-weight: 400;
  font-size: 18px;
}
.cardPromtion__date {
  padding-bottom: 25px;
  font-family: 'Barlow';
  font-weight: 700;
  font-size: 18px;
  color: #1C62CD;
}

/*---------------search-----------------------------*/
/*---------------search-----------------------------*/
.search__form {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.search__form-top {
  white-space: nowrap;
  display: flex;
}

.checkbox-btn {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.checkbox-btn:last-child {
  margin-right: 0px;
}

.checkbox-btn:after {
  content: '';
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: transparent;
  transition: all 0.3s;
}

.checkbox-btn:hover::after {
  background-color: #1C62CD;
}

.checkbox-btn input[type=radio] {
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.checkbox-btn span {
  display: inline-block;
  padding: 11px 26px;
  font-weight: 400;
  font-size: 20px;
}

.checkbox-btn input[type=radio]:checked + span {
  background: #F0F0F4;
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.checkbox-btn:hover {
  cursor: pointer;
}

.checkbox-btn input[type=radio]:active:not(:disabled) + span {
  background: #d2c5ac;
  color: #000;
}

.checkbox-btn input[type=radio]:disabled + span {
  background: #efefef;
  color: #666;
  cursor: default;
}

.checkbox-btn input[type=radio]:checked:disabled + span {
  background: #f7efdc;
}

.search__form-buttom {
  margin-top: 25px;
  height: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.search__input {
  width: 100%;
  min-height: 100%;
  background-color: #F0F0F4;
  font-weight: 400;
  font-size: 16px;
  color: #656464;
  padding-left: 20px;
}
.search__button-submit {
  min-height: 100%;
  min-width: 145px;
  background-color: #1C62CD;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

/*---------------cardNav-----------------------------*/
/*---------------cardNav-----------------------------*/
.cardNav {
  margin-top: 90px;
}
.cardNav__list {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 30px;
}
.cardNav__list-item {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
}
.cardNav__list-link {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.cardNav__list-link:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}
.cardNav__list-link:hover .cardNav__list-link-discroption {
  color: #1C62CD;
}
.cardNav__list-link-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px 14px 20px;
}
.cardNav__list-link-discroption {
  font-family: 'Barlow';
  font-weight: 700;
  font-size: 23px;
}
.cardNav__list-link-further {
  width: fit-content;
  font-weight: 400;
  font-size: 14px;
  color: #C4C4C4;
  position: relative;
}
.cardNav__list-link-further::after {
  position: absolute;
  content: '';
  top: 50%;
  right: -12px;
  width: 6px;
  height: 9px;
  transform: translateY(-50%);
  background: url("../images/arrow-right-little.svg");
}
.cardNav__list-link-imgBox {
  padding: 8px 0px;
  margin: auto;
}
.cardNav__list-link-imgBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*---------------popular-----------------------------*/
/*---------------popular-----------------------------*/
.popular {
  margin-top: 80px;
}

.popular__inner {
  display: flex;
  flex-direction: column;
}

.filter-box {
  display: flex;
  margin-top: 25px;
}

.filter-item {
  margin-right: 50px;
}

.filter-item:last-child {
  margin-right: 0;
}

.filter-btn {
  background: none;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  line-height: 1.8;
}

.filter-btn:hover {
  text-shadow: 0 0 .8px #333, 0 0 .8px #333;
}

.filter-btn::after {
  content: '';
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: transparent;
  transition: all 0.3s;
}

.filter-btn--active {
  border-bottom: 3px solid #1C62CD;
}

.cardList-wrapper {
  position: relative;
}

.cardList {
  display: flex;
  margin: 35px -15px 0px;
}

.card {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  margin: 0 15px;
  position: relative;
}

.card-link {
  position: relative;
}

.card-link:hover {
  cursor: pointer;
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}
.card-link:hover .card-discription,
.card-link:hover .card-cost {
  color: #1C62CD;
}

.card-link::before {
  position: absolute;
  content: 'посмотреть товар';
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: inherit;
  line-height: 24px;
  text-align: center;
  padding: 18px 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s;
}

.card-link:hover::before {
  opacity: 0.9;
}

.card-saleBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  background-color: #1C62CD;
  visibility: hidden;
}
.card-saleBanner--active {
  visibility: visible;
}
.card-saleBanner p {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.card-like {
  position: absolute;
  top: 16px;
  right: 19px;
  background: transparent;
}

.card-like--active {
  background: url("../images/heartBlue.svg") no-repeat;
}
.card-like--active svg path {
  fill: #1C62CD;
}

.card-imgBox {
  margin: 26px auto 0;
  width: 80%;
  min-height: 200px;
}

.card-imgBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-discription {
  display: block;
  max-width: 230px;
  margin: 14px auto 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  max-width: 80%;
  max-height: 45px;
  min-height: 42px;
  overflow: hidden;
}

.card-cost-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.card-cost-wrapper::after {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card-cost {
  font-weight: 700;
  font-size: 30px;
  margin: 25px auto 40px;
  white-space: nowrap;
}

.card-basket {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #1C62CD;
  padding: 10px 16px 7.5px 14px;
  border: 1px solid #1C62CD;
  border-radius: 10px 0px 0px 0px;
}

.card-basket svg path {
  fill: #fff;
}

.card-productAbsent {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: none;
}

.card-productAbsent--active {
  display: flex;
}

.card-productAbsent-text {
  font-weight: 700;
  font-size: 18px;
}

.card-productAbsent-link {
  font-weight: 400;
  font-size: 16px;
  color: #1C62CD;
  text-decoration: underline;
  transition: all 0.3s;
  line-height: 1.4;
  margin-top: 13px;
}

.card-productAbsent-link:hover {
  scale: 1.1;
}

.cardList-prev {
  position: absolute;
  top: 50%;
  left: -45px;
  transform: translateY(-50%);
  margin-left: 10px;
}

.cardList-next {
  position: absolute;
  top: 50%;
  right: -45px;
  transform: translateY(-50%);
}

.popular__addButton {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin: 52px auto 0px;
  padding: 17px 43px;
  background-color: #F0F0F4;
}

/*---------------bannerDiscount-----------------------------*/
/*---------------bannerDiscount-----------------------------*/
.bannerDiscount {
  margin-top: 86px;
}
.bannerDiscount__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C62CD;
  min-height: 165px;
}
.bannerDiscount__imgBoxOne {
  margin-left: 70px;
}
.bannerDiscount__imgBoxTwo {
  margin-left: 0;
}
.bannerDiscount__imgBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bannerDiscount__discription {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: #FFFFFF;
  margin: 28px auto;
  width: 26%;
  text-align: center;
}
.bannerDiscount__button {
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  font-weight: 500;
  font-size: 24px;
  padding: 20px 40px;
  white-space: nowrap;
  background-color: #FFFFFF;
}

/*---------------additionalItem-----------------------------*/
/*---------------additionalItem-----------------------------*/
.additionalItem {
  margin-top: 72px;
}

/*---------------footer-----------------------------*/
/*---------------footer-----------------------------*/
.footer {
  margin-top: 97px;
  background-color: #F0F0F4;
}

.footer__top {
  padding: 42px 0px;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.footer__top-col {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.footer__top-col:first-child {
  flex-grow: 0.2;
}

.footer__top-title {
  max-width: 222px;
  font-weight: 700;
  font-size: 14px;
}

.footer__form-items {
  margin-top: 34px;
}

.footer__form {
  display: flex;
}

.footer__form-input {
  padding: 8px 0 8px 12px;
  width: 100%;
}

.footer__form-button {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 10px 16px;
  background-color: #1C62CD;
  color: #FFFFFF;
}

.footer__top-item {
  margin-top: 5px;
  transition: all 0.3s;
}

.footer__top-item:hover {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

.footer__item-link {
  white-space: nowrap;
}

.footer__socials {
  display: flex;
  align-self: center;
}

.footer__socials-item {
  margin-right: 30px;
  transition: all 0.3s;
}

.footer__socials-item:hover {
  scale: 1.1;
}

.footer__socials-item:last-child {
  margin-right: 0;
}

.footer__botton {
  padding: 46px 0px 27px;
}

.footer__botton-inner {
  display: flex;
  justify-content: center;
}

.footer__botton-link {
  margin-right: 80px;
  transition: all 0.3s;
}

.footer__botton-link:hover {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

.footer__botton-link:last-child {
  margin-right: 0;
}

/*---------------------------MEDIA----------------------------*/
/*---------------------------MEDIA----------------------------*/
/*===========================1200============================*/
@media (max-width: 1200px) {
  .cardPromtion__validUntil {
    padding-top: 5px;
  }

  .cardPromtion__date {
    padding-bottom: 5px;
  }

  /*--------------------------------*/
  .bannerDiscount__inner {
    flex-direction: column;
    position: relative;
  }

  .bannerDiscount__imgBoxOne {
    position: absolute;
    left: 10px;
    bottom: 10px;
    margin-left: 0;
  }

  .bannerDiscount__imgBoxTwo {
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin-right: 0;
  }

  .bannerDiscount__button {
    margin: 10px auto;
    z-index: 1;
  }

  .bannerDiscount__discription {
    width: 80%;
    z-index: 1;
  }
}
/*===========================1120============================*/
@media (max-width: 1120px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.272);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
  }

  .overlay--show {
    visibility: visible;
    opacity: 1;
  }

  .burger {
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 3;
    position: fixed;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all .3s;
  }

  .burger--follow {
    top: 15px;
    right: 15px;
    box-shadow: 0 1px 8px 0 #a1a1a1;
    background: #fff;
  }

  .burger--open {
    top: 3px;
    left: 235px;
  }

  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
    margin: 4px 0;
    /* transition: all .3s; */
  }

  .burger::after,
  .burger::before {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
    transition: all .3s;
  }

  .burger--open span {
    transform: scaleY(0);
  }

  .burger--open::before {
    transform: rotate(-45deg) translateX(-5px) translateY(6px);
  }

  .burger--open::after {
    transform: rotate(45deg) translateX(-5px) translateY(-6px);
  }

  .burger-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 2;
    min-width: 320px;
    transform: translateX(-100%);
    transition: all .3s;
    overflow: auto;
  }

  .burger-nav__item {
    padding: 40px 0px 0px 55px;
    font-weight: 400;
    font-size: 20px;
  }

  .burger-nav__item:last-child {
    padding: 55px 0px 136px 55px;
    font-weight: 700;
  }

  .burger-nav__link {
    position: relative;
  }

  .burger-nav__link span {
    position: absolute;
    content: '';
    top: 50%;
    left: -38px;
    transform: translateY(-50%);
  }

  .burger-nav__link:hover {
    text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
  }

  .burger-nav--open {
    transform: translateX(0);
  }

  /*--------------------------------*/
  .header__top-inner {
    justify-content: center;
  }

  .header__nav-top {
    display: none;
  }

  .header__nav-link--location {
    display: none;
  }

  .haeder__logo {
    background: url("../images/logoHeaderMini.svg");
    width: 79px;
    height: 16px;
  }

  .header__nav-bottom {
    display: none;
  }

  /*--------------------------------*/
  .cardPromtion__newPrice {
    font-size: 20px;
  }
}
/*===========================1000============================*/
@media (max-width: 1000px) {
  .sliderBanner__inner {
    flex-direction: column;
  }

  .sliderBanner__wrapper {
    margin-right: 0;
  }

  .cardPromtion {
    max-width: fit-content;
    margin: 20px auto 0px;
  }

  /*---------------------------------------*/
  .cardNav__list {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  }

  /*===========================900============================*/
}

/*# sourceMappingURL=style.css.map */
