/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
html,
body {
  font-family: "SF Pro Display", sans-serif;
  color: #2f3035;
  line-height: 1.2;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.main__sliderBanner {
  margin-top: 78px;
}

/*---------------HEADER-----------------------------*/
/*---------------HEADER-----------------------------*/
.header {
  margin-top: 25px;
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100%;
}

.header__nav-link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  margin-right: 50px;
  white-space: nowrap;
  height: 100%;
  position: relative;
}

.header__nav-link:after {
  content: '';
  left: 0;
  bottom: -18px;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: transparent;
  transition: all 0.3s;
}

.header__nav-link:hover::after {
  content: '';
  left: 0;
  bottom: -18px;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #1C62CD;
}

.header__nav-link:last-child {
  margin-right: 0;
}

.haeder__logo {
  margin-right: 15px;
  transition: all 0.3s;
}

.haeder__logo:hover {
  scale: 1.1;
}

.header__nav-link--location {
  position: relative;
  margin-right: 15px;
}

.header__nav-link--location::before {
  position: absolute;
  content: '';
  top: -13px;
  left: -27px;
  width: 30px;
  height: 30px;
  background: url("../images/lokationHeader.svg") no-repeat;
}

.header__nav-link-user {
  position: relative;
  margin-right: 10px;
  transition: all 0.3s;
}
.header__nav-link-user span {
  position: absolute;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  text-align: center;
  top: 11px;
  right: -14px;
  width: 20px;
  height: 20px;
  background-color: #1C62CD;
  border-radius: 50%;
  padding-top: .5em;
}

.header__nav-link-user:last-child {
  margin-right: 14px;
}

.header__nav-link-user:hover {
  scale: 1.1;
}

.header__bottom {
  margin-top: 20px;
}
.header__bottom .header__nav {
  width: 100%;
}
.header__bottom .header__nav-link {
  font-weight: 400;
  margin-right: 10px;
}
.header__bottom .header__nav-link:hover {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}
.header__bottom .header__nav-link:last-child {
  margin-right: 0;
}

.header__bottom-inner {
  min-height: 53px;
  display: flex;
  align-items: center;
  background: #F0F0F4;
}

/*---------------sliderBanner-----------------------------*/
/*---------------sliderBanner-----------------------------*/
.sliderBanner__inner {
  display: flex;
  justify-content: space-between;
}
.sliderBanner__wrapper {
  position: relative;
  margin-right: 36px;
}
.sliderBanner__slider {
  max-width: 870px;
  height: 400px;
}
.sliderBanner__slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sliderBanner__arrow {
  position: absolute;
  top: 50%;
  transition: all 0.3s;
  transform: translateY(-50%);
}
.sliderBanner__arrow:hover {
  scale: 1.1;
}
.sliderBanner__prev {
  left: 20px;
}
.sliderBanner__next {
  right: 20px;
}
.sliderBanner__dots {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}
.sliderBanner__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderBanner__dots li {
  margin-right: 9px;
}
.sliderBanner__dots li:last-child {
  margin-right: 0;
}
.sliderBanner__dots button {
  font-size: 0;
  background-color: transparent;
  width: 11px;
  height: 11px;
  display: flex;
  align-items: center;
}
.sliderBanner__dots button::before {
  content: "";
  height: 11px;
  width: 11px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
}
.sliderBanner__dots .slick-active button::before {
  background-color: #fff;
  transition: all .3s;
}

.cardPromtion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #CDCDCD;
  border-radius: 4px;
  position: relative;
}
.cardPromtion__top {
  display: flex;
  justify-content: space-between;
}
.cardPromtion__actionBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  background-color: #1C62CD;
}
.cardPromtion__actionBanner p {
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.cardPromtion__newPrice {
  font-weight: 700;
  font-size: 27px;
  color: #1C62CD;
  padding-right: 27px;
  position: relative;
  white-space: nowrap;
}
.cardPromtion__newPrice::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  width: 16px;
  height: 18px;
  background: url("../images/icon/iconRublBlue.svg") no-repeat;
}
.cardPromtion__oldPrice {
  margin-top: 7px;
  font-weight: 400;
  font-size: 14px;
  color: #C4C4C4;
  align-self: flex-end;
  padding: 0px 20px 0px 10px;
  position: relative;
  white-space: nowrap;
}
.cardPromtion__oldPrice::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  width: 8px;
  height: 10px;
  background: url("../images/icon/iconRublGrey.svg") no-repeat;
}
.cardPromtion__oldPrice::before {
  position: absolute;
  content: "";
  top: -8%;
  right: -60px;
  width: 137px;
  height: 20px;
  background: url(../images/line.svg) no-repeat;
}
.cardPromtion__imgBox {
  padding: 0px 80px 0px 60px;
}
.cardPromtion__imgBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cardPromtion__discription {
  display: inline-block;
  align-self: center;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  max-width: 200px;
}
.cardPromtion__period {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  background-color: #F0F0F4;
  align-items: center;
  justify-content: center;
}
.cardPromtion__validUntil {
  font-weight: 400;
  font-size: 18px;
}
.cardPromtion__date {
  font-family: 'Barlow';
  font-weight: 700;
  font-size: 18px;
  color: #1C62CD;
}

/*---------------search-----------------------------*/
/*---------------search-----------------------------*/
.search__form {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.search__form-top {
  white-space: nowrap;
  display: flex;
}

.checkbox-btn {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.checkbox-btn:last-child {
  margin-right: 0px;
}

.checkbox-btn:after {
  content: '';
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: transparent;
  transition: all 0.3s;
}

.checkbox-btn:hover::after {
  background-color: #1C62CD;
}

.checkbox-btn input[type=radio] {
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.checkbox-btn span {
  display: inline-block;
  padding: 11px 26px;
  font-weight: 400;
  font-size: 20px;
}

.checkbox-btn input[type=radio]:checked + span {
  background: #F0F0F4;
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.checkbox-btn:hover {
  cursor: pointer;
}

.checkbox-btn input[type=radio]:active:not(:disabled) + span {
  background: #d2c5ac;
  color: #000;
}

.checkbox-btn input[type=radio]:disabled + span {
  background: #efefef;
  color: #666;
  cursor: default;
}

.checkbox-btn input[type=radio]:checked:disabled + span {
  background: #f7efdc;
}

.search__form-buttom {
  margin-top: 25px;
  height: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.search__input {
  width: 100%;
  min-height: 100%;
  background-color: #F0F0F4;
  font-weight: 400;
  font-size: 16px;
  color: #656464;
  padding-left: 20px;
}
.search__button-submit {
  min-height: 100%;
  min-width: 145px;
  background-color: #1C62CD;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

/*---------------cardNav-----------------------------*/
/*---------------cardNav-----------------------------*/
.cardNav {
  margin-top: 90px;
}
.cardNav__list {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 30px;
}
.cardNav__list-item {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
}
.cardNav__list-link {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.cardNav__list-link:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}
.cardNav__list-link:hover .cardNav__list-link-discroption {
  color: #1C62CD;
}
.cardNav__list-link-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px 14px 20px;
}
.cardNav__list-link-discroption {
  font-family: 'Barlow';
  font-weight: 700;
  font-size: 23px;
}
.cardNav__list-link-further {
  width: fit-content;
  font-weight: 400;
  font-size: 14px;
  color: #C4C4C4;
  position: relative;
}
.cardNav__list-link-further::after {
  position: absolute;
  content: '';
  top: 50%;
  right: -12px;
  width: 6px;
  height: 9px;
  transform: translateY(-50%);
  background: url("../images/arrow-right-little.svg");
}
.cardNav__list-link-imgBox {
  padding: 8px 0px;
  margin: auto;
}
.cardNav__list-link-imgBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*---------------popular-----------------------------*/
/*---------------popular-----------------------------*/
.popular {
  margin-top: 80px;
}

.popular__title {
  font-family: 'Barlow';
  font-weight: 700;
  font-size: 25px;
}

.popular__filter-box {
  display: flex;
  margin-top: 25px;
}

.popular__filter-item {
  margin-right: 50px;
}

.popular__filter-item:last-child {
  margin-right: 0;
}

.popular__filter-btn {
  background: none;
  font-weight: 500;
  font-size: 15px;
}

.popular__filter-btn--active {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.popular__cardList {
  display: flex;
  margin: 35px -15px 0px;
}

.popular__card {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  margin: 0 15px;
}

/*# sourceMappingURL=style.css.map */
