@import "variables";
@import "mixins";

// .test {
//   @include font(#333, 400);
//   @include padd(20px 30px) //падингов можно хоть сколько
// ;
// }
// .test1 {
//   @include font();
//   @include padd(20px) //падингов можно хоть сколько
// ;
// }

/*--------------------------------------------*/

// a {
//   @include link(black, red, blue, green);
// }
// .header1 {
//   @include link(black, red, blue, green) {
//     background-color: #fff;
//     &:visited {
//       color: #260954;
//     }
//   }
// }
/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
html,
body {
  font-family: "SF Pro Display", sans-serif;
  color: #2f3035;
  line-height: 1.2;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.logo {}

.main {

  // .main__sliderBanner

  &__sliderBanner {
    margin-top: 78px;
  }
}

/*---------------HEADER-----------------------------*/
/*---------------HEADER-----------------------------*/

.header {
  margin-top: 25px;
}

.header__top {}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100%;

}

.header__nav-link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  margin-right: 50px;
  white-space: nowrap;
  height: 100%;
  position: relative;

}


.header__nav-link:after {
  content: '';
  left: 0;
  bottom: -18px;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: transparent;
  transition: $trAll;
}

.header__nav-link:hover::after {
  content: '';
  left: 0;
  bottom: -18px;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #1C62CD;

}


.header__nav-link:last-child {
  margin-right: 0;
}

.haeder__logo {
  margin-right: 15px;
  transition: $trAll;
}

.haeder__logo:hover {
  scale: (1.1);
}

.header__nav-link--location {
  position: relative;
  margin-right: 15px;

}

.header__nav-user {}

.header__nav-link--location::before {
  position: absolute;
  content: '';
  top: -13px;
  left: -27px;
  width: 30px;
  height: 30px;
  background: url('../images/lokationHeader.svg') no-repeat;
  ;
}

.header__nav-link-user {
  position: relative;
  margin-right: 10px;
  transition: $trAll;


  span {
    position: absolute;
    font-weight: 500;
    font-size: 10px;
    color: #fff;
    text-align: center;
    top: 11px;
    right: -14px;
    width: 20px;
    height: 20px;
    background-color: #1C62CD;
    border-radius: 50%;
    padding-top: .5em;
  }
}

.header__nav-link-user:last-child {
  margin-right: 14px;
}

.header__nav-link-user:hover {
  scale: (1.1);
}

.header__bottom {
  margin-top: 20px;

  .header__nav {
    width: 100%;
  }

  .header__nav-link {
    font-weight: 400;
    margin-right: 10px;
  }

  .header__nav-link:last-child {
    margin-right: 0;
  }
}

.header__bottom-inner {
  min-height: 53px;
  display: flex;
  align-items: center;
  background: #F0F0F4;
}

/*---------------sliderBanner-----------------------------*/
/*---------------sliderBanner-----------------------------*/

.sliderBanner {

  // .sliderBanner__inner

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    position: relative;
    margin-right: 36px;
  }

  // .sliderBanner__slider

  &__slider {
    max-width: 870px;
    height: 400px;
  }

  // .sliderBanner__slide

  &__slide {



    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

  }



  // .sliderBanner__arrow

  &__arrow {
    position: absolute;
    top: 50%;
    transition: $trAll;
    transform: translateY(-50%);
  }

  &__arrow:hover {
    scale: (1.1);

  }

  // .sliderBanner__prev

  &__prev {
    left: 20px;
  }

  // .sliderBanner__next

  &__next {
    right: 20px;
  }

  // .sliderBanner__dots

  &__dots {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);

    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li {
      margin-right: 9px;
    }

    li:last-child {
      margin-right: 0;
    }

    button {
      font-size: 0;
      background-color: transparent;
      width: 11px;
      height: 11px;
      display: flex;
      align-items: center;
    }

    button::before {
      content: "";
      height: 11px;
      width: 11px;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #fff;
    }

    .slick-active button::before {
      background-color: #fff;
      transition: all .3s;
    }
  }
}



.cardPromtion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #CDCDCD;
  border-radius: 4px;
  position: relative;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    background-color: #1C62CD;

    p {
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #fff;
    }
  }

  // .cardPromtion__newPrice

  &__newPrice {
    font-weight: 700;
    font-size: 27px;
    color: #1C62CD;
    padding-right: 27px;
    position: relative;
  }

  &__newPrice::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    width: 16px;
    height: 18px;
    background: url('../images/icon/iconRublBlue.svg') no-repeat;
  }



  // .cardPromtion__newOldPrice

  &__oldPrice {
    margin-top: 7px;
    font-weight: 400;
    font-size: 14px;
    color: #C4C4C4;
    align-self: flex-end;
    padding: 0px 20px 0px 10px;
    position: relative;
  }

  &__oldPrice::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    width: 8px;
    height: 10px;
    background: url('../images/icon/iconRublGrey.svg') no-repeat;
  }

  &__oldPrice::before {
    position: absolute;
    content: "";
    top: -8%;
    right: -60px;
    width: 137px;
    height: 20px;
    background: url(../images/line.svg) no-repeat;
  }

  &__imgBox {
    padding: 0px 80px 0px 60px;

    img {
      width: 125px;
      height: 176px;
    }
  }

  // .cardPromtion__discription

  &__discription {
    display: inline-block;
    align-self: center;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    max-width: 200px;
  }

  // .cardPromtion__period

  &__period {
    
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    background-color: #F0F0F4;
    align-items: center;
    justify-content: center;
  }

  // .cardPromtion__validUntil

  &__validUntil {
    font-weight: 400;
    font-size: 18px;
  }

  // .cardPromtion__date

  &__date {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 18px;
    color: #1C62CD;
  }
}